<form class="form-signin">
  <h1 class="h3 mb-3 font-weight-normal">Restrito a funcionários</h1>
  <label for="inputEmail" class="sr-only">Identificação</label>
  <input type="email" id="inputEmail" class="form-control" placeholder="Identificação" required autofocus>
  <label for="inputPassword" class="sr-only">Senha</label>
  <input type="password" id="inputPassword" class="form-control" placeholder="Senha" required>
  <div class="checkbox mb-3">
    <label>
      <input type="checkbox" value="remember-me"> Lembrar senhar
    </label>
  </div>
  <button class="btn btn-lg btn-primary btn-block" type="submit">Entrar</button>
</form>