<div class="container">
  <h1>Point da Pizza</h1>
  <h2>Disk Entrega: 3227.0171(FIXO) 8714.4049(OI) 9736.7043(TIM) </h2>
  <!-- CARROSEL -->
  <ngb-carousel class="carousel">
    <ng-template ngbSlide>
      <img src="../../../../assets/imgs/pizza.jpg" alt="Random first slide">
      <div class="carousel-caption">
        <h3>Pizzas deliciosas!</h3>
        <p>Pizzas de R$20,00... Hmm, vamos aproveitar!!!</p>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <img src="../../../../assets/imgs/esfiha1.jpg" alt="Random second slide">
      <div class="carousel-caption">
        <h3>Esfihas de carne, a mais pedida!</h3>
        <p>A Esfiha de carne é a favorita do lorde tavares, o Deus.</p>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <img src="../../../../assets/imgs/esfiha2.jpg" alt="Random third slide">
      <div class="carousel-caption">
        <h3>Esfihas doces, meu Deus, bom demais!!!</h3>
        <p>Esfihas doce de chocolate, banana e muito mais!!!</p>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <img src="../../../../assets/imgs/esfiha3.jpg" alt="Random third slide">
      <div class="carousel-caption">
        <h3>Esfihas de diversos sabores, MESMO!!!</h3>
        <p>Você pode fazer a gororoba que quiser ein?!</p>
      </div>
    </ng-template>
  </ngb-carousel>
  <!-- CARROSEL -->

</div>
