<div class="container">
  <!-- CARROSEL -->
  <ngb-carousel class="carousel">
    <ng-template ngbSlide>
      <img src="../../../../assets/imgs/pizza.jpg" alt="Random first slide">
    </ng-template>
    <ng-template ngbSlide>
      <img src="../../../../assets/imgs/esfiha1.jpg" alt="Random second slide">
    </ng-template>
    <ng-template ngbSlide>
      <img src="../../../../assets/imgs/esfiha2.jpg" alt="Random third slide">
    </ng-template>
    <ng-template ngbSlide>
      <img src="../../../../assets/imgs/esfiha3.jpg" alt="Random third slide">
    </ng-template>
  </ngb-carousel>
  <!-- CARROSEL -->

</div>
